BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333 # URL da API (.) https://api-verionstudio.vercel.app/ <- PROD

DEFAULT_PORT=3333

# AUTH OPTIONS ==========

# GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# ========================

ID_URL=https://id-verionstudio.vercel.app # URL publica do verionstudio (../id/**) PROD
URL=https://verionstudio.vercel.app # URL publica do verionstudio (../website/**) PROD

DEV_URL=http://localhost:3000 # URL local do verionstudio (../website/**) DEV
DEV_ID_URL=http://localhost:5717 # URL local do verionstudio (../ID/**) DEV


DATABASE_URL=
